body,
html {
  background-color: #eceef1;
  margin: 0;
  font-family: "AvenirNext", "Avenir", "Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4px;
}

.title-header {
  padding: 15px 0;
}

.sub-footer a {
  color: #0077c5;
}

.header div a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-size: 1.1rem;
  padding-right: 5px;
}

.header div a span {
  position: relative;
  bottom: 5px;
  letter-spacing: 1.5;
}

.nav-note,
.nav-link {
  font-size: 12px;
  padding: 4px;
}

.nav-button,
.nav-note {
  position: relative;
  top: 12px;
  margin: auto;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: #0077c5;
}

.nav-button {
  width: 100px;
  position: relative;
  top: -9px;
  border-radius: 4px;
  background-color: #2f52b4;
  color: white;
  border: 1px black solid;
  cursor: pointer;
  margin-right: 30px;
  text-align: center;
}

.main-container {
  width: 375px;
  height: 733px;
  background-color: white;
  margin: 25px auto;
  border: 1px solid rgb(177, 173, 173);
  display: flex;
  flex-direction: column;
}

.create-account,
.account-text {
  text-align: center;
  margin: 30px auto 0 auto;
  font-size: 14px;
}

.create-account,
h1 {
  font-weight: normal;
  font-size: 20px;
}

.form-group {
  padding: 23px;
  font-size: 14px;
  position: relative;
  top: -45px;
}

.account-text,
.account-link {
  margin: auto;
  text-decoration: none;
  padding: 14px;
}

.account-link {
  position: relative;
  top: -15px;
  color: #0077c5;
}

.account-link,
.call-text {
  font-size: 12px;
}

.call-text {
  position: relative;
  top: -41px;
  font-size: 12px;
  padding-top: 7px;
}

.form-group,
input {
  position: relative;
  bottom: 12px;
  margin: 30px auto;
}

input[type=text],
.form-btn {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-btn,
input {
  padding: 10px;
}

.form-btn {
  background-color: #2f52b4;
  color: white;
  border-color: white;
  border: 1px black solid;
  padding: 14px;
}

.lock-icon {
  padding: 4px;
}

.sub-container {
  display: flex;
  flex-direction: column;
}

.footer-para,
.privacy-link {
  font-size: 11px;
}

.sub-container,
.terms-condition {
  margin: 20px auto;
  text-align: center;
  font-weight: normal;
}

.terms-condition > p > a {
  text-decoration: none;
  color: #0077c5;
}

.terms-text {
  margin: auto;
  padding: 4px;
  color: rgb(87, 85, 85);
}

.sub-footer,
.privacy-link {
  text-decoration: none;
  text-align: center;
  white-space: normal;
  line-height: 1.5;
  padding: 4px;
}

.sub-footer {
  position: relative;
  bottom: 70px;
  background-color: #ddd;
  border-top: none;
  padding: 15px;
  border-bottom: 1px solid rgb(177, 173, 173);
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  position: relative;
  right: 250px;
  top: -50px;
}

.footer-list,
ul,
li,
.footer-link {
  text-decoration: none;
  display: inline;
  text-align: center;
  padding: 1px;
  position: relative;
  bottom: 1px;
  left: 5px;
  color: gray;
}

.footer-description,
.footer-text {
  margin: 0;
  text-align: center;
  padding: 2px;
  color: gray;
}

.footer-text,
.privacy-btn,
.footer-list,
.footer-link,
.terms-condition {
  font-size: 13px;
}

.privacy-btn {
  width: 130px;
  position: fixed;
  left: 1160px;
  padding: 12px;
  bottom: -1px;
  border: none;
  font-weight: normal;
  background-color: gray;
  color: white;
  border-radius: 4px;
}

.footer-description {
  margin-bottom: 21px;
}
