body,
html {
    background-color: #ECEEF1;
    margin: 0;
    font-family: "AvenirNext", "Avenir", Helvetica "Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    box-sizing: border-box;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 4px;
}

.title-header {
    position: relative;
    bottom: -20px;
}

.nav-note,
.nav-link {
    font-size: 12px;
    padding: 4px;
}

.nav-button,
.nav-note {
    position: relative;
    top: 12px;
    margin: auto;
}

.nav-link {
    text-decoration: none;
}

.nav-button {
    padding: 5px;
    position: relative;
    top: -9px;
    width: 100px;
    border-radius: 4px;
    background-color: #2f52b4;
    color: white;
    border: 1px black solid;
    cursor: pointer;
    margin-right: 30px;
    text-align: center;
}

.main-container {
    background-color: white;
    width: 375px;
    height: 779px;
    margin: 25px auto;
    border: 1px solid rgb(177, 173, 173);
    display: flex;
    flex-direction: column;
    box-shadow: black;
    border-bottom: none;
}

.create-account {
    text-align: center;
    margin: 14px auto;
}

.account-link {
    font-size: 12px;
    text-decoration: none;
}

.account-text {
    font-size: 17px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-weight: normal;
}

.form-group {
    padding: 23px;
    font-size: 14px;
    position: relative;
    top: -45px;
}

.account-text,
.account-link {
    margin: auto;
}

.call-text {
    position: relative;
    top: -41px;
    font-size: 12px;
}

.form-group,
input {
    position: relative;
    bottom: 12px;
    margin: 30px auto;
}

input[type=text],
.form-btn {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-btn {
    background-color: #2f52b4;
    color: white;
    border-color: white;
    border: 1px black solid;
    padding: 14px;
}

.lock-icon {
    padding: 4px;
}

.sub-container {
    display: flex;
    flex-direction: column;
}

.footer-para,
.privacy-link {
    font-size: 11px;
}

.sub-container,
.terms-condition {
    margin: 20px auto;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}

.terms-condition>p>a {
    text-decoration: none;
    color: #0c3cc0;
}

.terms-text {
    margin: auto;
    padding: 4px;
    color: rgb(87, 85, 85);
}

.sub-footer,
.privacy-link {
    text-decoration: none;
    text-align: center;
    white-space: normal;
    line-height: 1.5;
    padding: 4px;
}

.sub-footer {
    position: relative;
    bottom: 100px;
    background-color: #ddd;
    border-top: none;
    padding: 10px;
    border-bottom: 1px solid rgb(177, 173, 173);
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    position: relative;
    right: 250px;
    top: -75px;
}

.footer-list,
ul,
li,
.footer-link {
    text-decoration: none;
    display: inline;
    text-align: center;
    padding: 1px;
    font-size: 13px;
    position: relative;
    bottom: 1px;
    left: 5px;
    color: gray;
}

.footer-description,
.footer-text {
    margin: 0;
    text-align: center;
    font-size: 13px;
    padding: 2px;
    color: gray;
}

.privacy-btn {
    position: fixed;
    left: 1160px;
    width: 130px;
    padding: 12px;
    bottom: -1px;
    border: none;
    font-size: 13px;
    font-weight: 20px;
    background-color: gray;
    color: white;
    border-radius: 4px;
}

.footer-description {
    margin-bottom: 21px;
}