body,
html {
    background-color: #ECEEF1;
    margin: 0;
    font-family: AvenirNext, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    box-sizing: border-box;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
}

.nav-note,
.nav-link {
    font-size: 12px;
    padding: 4px;
}

.nav-link {
    text-decoration: none;
}

.nav-button {
    padding: 10px;
    position: relative;
    bottom: 9px;
    width: 100px;
    border-radius: 4px;
    background-color: #03a9fc;
    color: #ddd;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}

.main-container {
    background-color: white;
    width: 375px;
    height: 708px;
    margin: 25px auto;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.create-account {
    text-align: center;
    margin: 14px auto;
}

.account-link {
    font-size: 12px;
    text-decoration: none;
}

.account-text {
    font-size: 15px;
    line-height: 1.2;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

.form-group {
    padding: 23px;
    font-size: 14px;
    position: relative;
    top: -45px;
}

.account-text,
.account-link {
    margin: auto;
}

.call-text {
    position: relative;
    top: -41px;
    font-size: 10px;
}